.protocolContainer input[type="radio"] {
    margin-right: 5px;
}
.protocolContainer label {
    vertical-align: top;
    line-height: 1.5;
    margin-right: 15px;
}
.protocolContainer label * {
    vertical-align: top;
}

.inputElement {
    max-width: 600px;
}

[name="server_port"] {
    max-width: 60px;
}
